In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [55]:
def scrape_hot100():
    url = "https://www.billboard.com/charts/hot-100/"
    response = requests.get(url)
    if response.status_code != 200:
        print('bad request')
    else: 
        soup = BeautifulSoup(response.content, 'html.parser') 
        songs = []
        artists = []
        for tag in soup.select('li[class*="o-chart-results-list__item // lrv-u-flex-grow-1"]'):
            songs.append(tag.select("h3")[0].get_text().strip('\n\t'))
            artists.append(tag.select("span")[0].get_text().strip('\n\t'))
        top100 = pd.DataFrame({#"place":numbers,
                       "song":songs,
                       "artist":artists
                      })
    return top100.head()

In [56]:
scrape_hot100()

                 song                         artist
0           As It Was                   Harry Styles
1         First Class                    Jack Harlow
2          Wait For U  Future Featuring Drake & Tems
3  Late Night Talking                   Harry Styles
4     About Damn Time                          Lizzo

In [57]:
top100.tail()

               song                          artist
95   Otro Atardecer          Bad Bunny & The Marias
96  We Cry Together  Kendrick Lamar & Taylour Paige
97       Dos Mil 16                       Bad Bunny
98             DFMU                        Ella Mai
99    Hate Our Love          Queen Naija & Big Sean

In [58]:
top100.to_csv('top100.csv')