In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('unique_tracks.txt',header=None, sep = '<SEP>', engine='python')
data.head()

                    0                   1                 2                  3
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [3]:
data.shape

(1000000, 4)

In [4]:
data2 = data.sample(n=5000)
data2.head()

,0,1,2,3
722110,TRJSKXR128F42A10AE,SOGAGJV12A8C13FBE7,Keep Of Kalessin,Den Siste Krig
426378,TRAGBED128F4228FDE,SOYGLZC12A8AE44B98,Gonzoe,Rep Yo' Hood
970220,TRYREZV128F1458A42,SOTSSWX12A6D4F6492,Sid Vicious,Take A Chance On Me
522199,TRPTNYQ128F14A7B0D,SOCWMXX12A6D4FB903,Frank London´s Klezmer Brass Allstars,Slow Hasidic Nign
687500,TREOFWF128F4286680,SOBFFCK12A8C13A03E,Joy Division,Love Will Tear Us Apart (Album Version)

In [5]:
data2=data2.rename(columns={0:'dropped',1:'dropped2',2:'singer',3:'song'})
data2.drop(['dropped','dropped2'],axis=1,inplace=True)
data2.head()

,singer,song
722110,Keep Of Kalessin,Den Siste Krig
426378,Gonzoe,Rep Yo' Hood
970220,Sid Vicious,Take A Chance On Me
522199,Frank London´s Klezmer Brass Allstars,Slow Hasidic Nign
687500,Joy Division,Love Will Tear Us Apart (Album Version)

In [6]:
data2.reset_index(drop=True, inplace=True)
data2.

SyntaxError: invalid syntax (1314891652.py, line 2)

In [7]:
data2.to_csv('not_so_hot.csv')