In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('unique_tracks.txt',header=None, sep = '<SEP>', engine='python')
data.head()

                    0                   1                 2                  3
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [4]:
data.shape

(1000000, 4)

In [5]:
data2 = data.sample(n=5000)
data2.head()

,0,1,2,3
628605,TRLQEYW128F4236D80,SOXGBMQ12A8AE486DE,Su ta gar,Abere izate ukatua
659135,TREHRDI128F429CD03,SOODBDP12A8C13C276,Spice Girls,Viva Forever (Tony Rich Remix Instrumental)
82501,TRGHVUB128F92F6996,SOLSPUR12AAF3B4DAD,Dandy Livingstone,Think About That
286901,TRFAXNS12903CF8B59,SOGMXPX12AC4688090,Orquesta Harlow,That Groovy Shingaling
418556,TRIOXOZ128F426789B,SOOLRCR12A8C134883,King B.A.V.,Take It Off

In [6]:
data2=data2.rename(columns={0:'dropped',1:'dropped2',2:'singer',3:'song'})
data2.drop(['dropped','dropped2'],axis=1,inplace=True)
data2.head()

                   singer                                         song
628605          Su ta gar                           Abere izate ukatua
659135        Spice Girls  Viva Forever (Tony Rich Remix Instrumental)
82501   Dandy Livingstone                             Think About That
286901    Orquesta Harlow                       That Groovy Shingaling
418556        King B.A.V.                                  Take It Off

In [8]:
data2.reset_index(drop=True, inplace=True)
data2

                         singer                                         song
0                     Su ta gar                           Abere izate ukatua
1                   Spice Girls  Viva Forever (Tony Rich Remix Instrumental)
2             Dandy Livingstone                             Think About That
3               Orquesta Harlow                       That Groovy Shingaling
4                   King B.A.V.                                  Take It Off
...                         ...                                          ...
4995                  The Itals                               Peace And Love
4996            Miranda Lambert                                 Makin' Plans
4997         Vision of Disorder                            Beneath The Green
4998                  Weedeater                               Southern Cross
4999  Termanology featuring Nas                                  How We Live

[5000 rows x 2 columns]

In [9]:
data2.to_csv('not_hot_songs.csv')